
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Register.css" rel="stylesheet" />
}
@model ShopCoinUSAv2.Models.TaiKhoan
@using (Html.BeginForm("Register","ShopCoin",FormMethod.Post))
{
    <div class=" wrappe">
        <div class="container mx-auto my-10 sm:my-0">
            <div class="flex flex-row content-center items-center justify-center">
                <div class="w-full lg:w-1/3 md:px-4 my-10">
                    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 md:rounded-md bg-white border">
                        <div class="flex-auto px-4 lg:px-10 py-10">
                            <div class="mb-3">
                                <h6 class="font-bold uppercase">
                                    Register
                                </h6>
                            </div>
                            <form>
                                <div class="relative w-full mb-3">
                                    <span>
                                        <label htmlfor="grid-password" class="block text-gray-700 text-xs mb-2"> Username </label>
                                        @Html.TextBox("UserName", null, new { @class = "px-2 py-1 text-gray-700 focus:outline-none focus:shadow-none w-full ease-linear transition-all duration-150 border-current border-solid border border-gray-400" })
                                        @ViewData["Loi3"]
                                       
                                        @*<input value="" class="px-2 py-1 text-gray-700 focus:outline-none focus:shadow-none w-full ease-linear transition-all duration-150 border-current border-solid border border-gray-400">*@
                                        <span class="text-red-500 text-xs"></span>
                                    </span>
                                </div>
                                <div class="relative w-full mb-3">
                                    <label htmlfor="grid-password" class="block text-gray-700 text-xs mb-2"> Email </label>
                                    @Html.TextBox("TenDN", null, new { @class = "px-2 py-1 text-gray-700 focus:outline-none focus:shadow-none w-full ease-linear transition-all duration-150 border-current border-solid border border-gray-400" })
                                    @ViewData["Loi"]
                                    @ViewData["Loi2"]
                                    @*<input type="email" value="" class="px-2 py-1 text-gray-700 focus:outline-none focus:shadow-none w-full ease-linear transition-all duration-150 border-current border-solid border border-gray-400">*@

                                </div>
                                <div class="relative w-full mb-3">
                                    <span>
                                        <label class="block text-gray-700 text-xs mb-2"> Password </label>

                                        @Html.Password("MatKhau", null, new { @class = "px-2 py-1 text-gray-700 focus:outline-none focus:shadow-none w-full ease-linear transition-all duration-150 border-current border-solid border border-gray-400" })
                                        @ViewData["Loi1"]
    @*<input type="password" value="" class="px-2 py-1 text-gray-700 focus:outline-none focus:shadow-none w-full ease-linear transition-all duration-150 border-current border-solid border border-gray-400">*@
                                        <span class="panel-icon absolute right-2 top-2">
                                            <span role="img" class="mdi mdi-eye-off">
                                                <svg fill="currentColor" width="18" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                   
                                                </svg>
                                            </span>
                                        </span>

                                        <span class="text-red-500 text-xs"></span>
                                    </span>
                                </div>
                                <div data-sitekey="6LeBqaIdAAAAAPwhTQrSRgHAl8Y7sMyWCv-IYSFA" data-size="normal" data-theme="light" data-badge="bottomright" data-tabindex="0" data-callback="recaptchaSuccessCallback" data-expired-callback="recaptchaExpiredCallback" data-error-callback="recaptchaErrorCallback" class="g-recaptcha">
                                    <div style="width: 304px; height: 78px;">
                                        <div>
                                            <iframe title="reCAPTCHA" src="https://www.recaptcha.net/recaptcha/api2/anchor?ar=1&amp;k=6LeBqaIdAAAAAPwhTQrSRgHAl8Y7sMyWCv-IYSFA&amp;co=aHR0cHM6Ly9teS5zaG9wY29pbnVzYS5jb206NDQz&amp;hl=vi&amp;v=4rwLQsl5N_ccppoTAwwwMrEN&amp;theme=light&amp;size=normal&amp;badge=bottomright&amp;cb=l8appgpbepo0" width="304" height="78" role="presentation" name="a-rl91p9qjxs8m" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                        </div>
                                        <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                    </div>
                                    <iframe style="display: none;"></iframe>
                                </div>
                                <div class="text-center mt-6">
                                    @*@Html.Password("MatKhau", null, new { @class = "px-2 py-1 text-gray-700 focus:outline-none focus:shadow-none w-full ease-linear transition-all duration-150 border-current border-solid border border-gray-400" })*@
                                    <button type="submit" class="bg-yellow-500 text-white text-sm px-6 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150 disabled:opacity-50">

                                        Register
                                    </button>
                                </div>
                            </form>
                            <!----> <div class="mt-6 relative text-cente text-xs">
                                By registering I confirm I have read and agree to Terms of Use. We send occasional marketing messages which can be switched off in account settings. We manage personal data as set out in our Privacy Notice.
                            </div>
                        </div>
                    </div>
                    <div class="mt-6 relative text-center">
                        Already have an account?
                        <a href="/login" class="text-blue-500">
                            Login
                        </a>
                    </div>
                    <div class="w-full px-4 mt-4">
                        <ul class="flex list-none justify-between">
                        <li><a href="#" class="text-blueGray-600 hover:text-blueGray-800 text-sm mr-2"> Privacy Notice </a></li> 
                        <li><a href="#" class="text-blueGray-600 hover:text-blueGray-800 text-sm mr-2"> Cookies Notice </a></li> 
                        <li><a href="#" class="text-blueGray-600 hover:text-blueGray-800 text-sm"> Cookies Settings </a></li>
                           </ul>
                    </div>
                </div>
            </div>
        </div>

        <footer class="block py-4 bg-gray-100">
            <div class="container mx-auto">
                <div class="hidden md:flex flex-wrap my-10">
                    <div class="w-1/4">
                        <span class="text-gray-700 block mb-4 font-bold">Products</span>
                        <ul>
                            <li class="mb-2 text-gray-500"><a target="_blank" href="#" rel="noopener">Blockchain Explorer</a></li>
                            <li class="mb-2 text-gray-500"><a target="_blank" href="#" rel="noopener">Crypto API</a></li>
                            <li class="mb-2 text-gray-500"><a target="_blank" href="#" rel="noopener">Crypto Indices</a></li>
                            <li class="mb-2 text-gray-500"><a target="_blank" href="#" rel="noopener">Interest</a></li>
                            <li class="mb-2 text-gray-500"><a target="_blank" href="#">Jobs Board</a></li>
                            <li class="mb-2 text-gray-500"><a target="_blank" rel="noopener" href="#" class="cmc-link">Sitemap</a></li>
                        </ul>
                    </div>
                    <div class="w-1/4">
                        <span class="text-gray-700 block mb-4 font-bold">Company</span>
                        <ul>
                            <li class="mb-2 text-gray-500"><a target="_blank" href="/about/" class="cmc-link">About us</a></li>
                            <li class="mb-2 text-gray-500"><a target="_blank" href="/terms/" class="cmc-link">Terms of use</a></li>
                            <li class="mb-2 text-gray-500"><a target="_blank" href="/privacy/" class="cmc-link">Privacy Policy</a></li>
                            <li class="mb-2 text-gray-500"><a target="_blank" href="/disclaimer/" class="cmc-link">Disclaimer</a></li>
                            <li class="mb-2 text-gray-500"><a target="_blank" href="/methodology/" class="cmc-link">Methodology</a></li>
                            <li class="mb-2 text-gray-500"><a target="_blank" href="https://jobs.coinmarketcap.com/employers/293118-coinmarketcap?utm_source=coinmarketcap&amp;utm_content=footer" rel="noopener">Careers</a><span class="tips">We’re hiring!</span></li>
                        </ul>
                    </div>
                <div class="w-1/4"><span class="text-gray-700 block mb-4 font-bold">Support</span> 
                    <ul>
                    <li class="mb-2 text-gray-500"><a target="_blank" href="#" rel="noopener">Request Form</a></li> 
                    <li class="mb-2 text-gray-500"><a target="_blank" href="#">Contact Support</a></li> 
                    <li class="mb-2 text-gray-500"><a target="_blank" href="#" class="cmc-link">FAQ</a></li>
                    <li class="mb-2 text-gray-500"><a target="_blank" href="#" rel="noopener">Glossary</a></li>
                        </ul>
                    </div> 
                <div class="w-1/4">
                    <span class="text-gray-700 block mb-4 font-bold">Socials</span>
                    <ul>
                    <li class="mb-2 text-gray-500"><a target="_blank" href="#" rel="noopener">Facebook</a></li>
                    <li class="mb-2 text-gray-500"><a target="_blank" href="#" rel="noopener">Twitter</a></li> 
                    <li class="mb-2 text-gray-500"><a target="_blank" href="#" rel="noopener">Telegram</a></li> 
                    <li class="mb-2 text-gray-500"><a target="_blank" href="#" rel="noopener">Instagram</a></li> 
                    <li class="mb-2 text-gray-500"><a target="_blank" href="#" rel="noopener">Interactive Chat</a></li>
                        </ul>
                </div>
                </div> <hr class="mb-4 border-b-1 border-gray-200"> <div class="text-sm text-gray-500 font-semibold py-1 text-center">
                    Copyright © 2022
                    <a href="#" class="text-gray-700 text-sm font-semibold py-1"> Shopcoin.com </a>
                </div>
            </div>
        </footer>
    </div>
}
