@using ShopCoinUSAv2.Models
@model List<TaiKhoan>
@{
    ViewBag.Title = "DSTaiKhoan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">List of accounts</h1>


            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    LIST
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>EMail</th>
                                <th>Password</th>                                
                                <th>Administration</th>
                                
                                

                            </tr>
                        </thead>
                        @*<tfoot>
                            <tr>
                                <th>Username</th>
                                <th>Password</th>                             
                                <th>Administration</th>
                                <th>Function</th>

                            </tr>
                        </tfoot>*@
                        <tbody>
                            @foreach (var iteam in Model)
                            {
                            <tr>
                                <td>@iteam.UserName</td>
                                <td>@iteam.TenDN</td>
                                <td>@iteam.MatKhau</td>                             
                                <td>@iteam.Quyen</td>
                                <td>
                                    <a href="@Url.Action("SuaTK", new { tendn = iteam.TenDN })" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a onclick="return ConfirmXoa()" href="@Url.Action("XoaTK", new { tendn = iteam.TenDN })" class="btn btn-danger btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    </a>
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
